<font color = "#c4281a" size="3"> 
    <b> 
     Pandas for everyone  
    </b>
</font>
<font color = "#2462c7" size="2"> 
    <b> 
     Chapter 1 - How to look at the data
    </b>
</font>
<font color = "#535861" size="2"> 
    <P>
     C1.1 - Create Series <BR>
     C1.2 - Create Pandas <BR>
     C1.3 - Different ways to book at the data <BR>
        C1.31 - Type() <BR>
        C1.32 - .Shape <BR>
     </P>
</font>

<font color = "#2462c7" size="2"> 
    <b> 
     C1.1 - Create Series
    </b>
</font>

In [1]:
# Create a list
var = ['peter','mary']

In [2]:
# Create a Series
import pandas as pd
df = pd.Series(var)
df

0    peter
1     mary
dtype: object

<font color = "#2462c7" size="2"> 
    <b> 
     C1.2 - Create Dataframe
    </b>
</font>
<font color = "#535861" size="2"> 
    <P>
     1 - Create DataFrame <BR>
     2 - Add index to dataframe <BR>
     3 - order of columns <BR>
     </P>
</font>

In [3]:
# Create Dataframe data
import pandas as pd
label = ['Name','age','gender']
value = [['peter','mary','Paul'],[2,3,4],['M','F','M']]

In [4]:
# Create Dataframe
df2 = pd.DataFrame(dict(list(zip(label,value))))
df2

    Name  age gender
0  peter    2      M
1   mary    3      F
2   Paul    4      M

In [5]:
# 
df2 = pd.DataFrame(df2, columns = ['name','gender','age'])
df2

   name gender  age
0   NaN      M    2
1   NaN      F    3
2   NaN      M    4

<font color = "#2462c7" size="2"> 
    <b> 
     c1.31 - Type
    </b>
</font>
<font color = "#535861" size="2"> 
    <P>
     1 - type <BR>
     2 - type is handy when you want to get teh types of object
     </P>
</font>

In [6]:
# look at the type of the object
#
print(type(df2))

<class 'pandas.core.frame.DataFrame'>

<font color = "#2462c7" size="2"> 
    <b> 
     c1.32 - Shape
    </b>
</font>
<font color = "#535861" size="2"> 
    <P>
     1 - shape return tuple with rows and coluns <BR>
     </P>
</font>

In [7]:
df2.shape

(3, 3)